@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Lato, sans-serif;
    color: lawngreen;
    
}

#menu{
    font-size: 520%;
    list-style-type: none;  
}

#menu li{
    float: right;
    margin-right: 25px; 
    margin-top: 25px;  
}

#menu a{
    font-family: Lato;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    transition: 1s; 
}

#menu a:hover{
    color: rgb(255, 145, 0);
}

.active{
    color: rgb(255, 0, 0);
}
/*----------------------------------------ignor for a moment :D --------------------


.image{
    text-align: center;
    text-transform: bold;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 100px;

    animation-name: this-is-the-way2;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    color: rgba(0,0,0,0);
}

.image:hover{
    transform: scale(1.2);
    z-index: 2;
}

@keyframes this-is-the-way2{
  100%   {color: rgb(255, 255, 255);}
  100%   {background-image: url(../images/info.jpeg);} 
}


/*----------------------------------------ignor for a moment :D ------------------------------------*/


/*--------------------------------          animation          --------------------------------/
#menu li #hh{
    animation-name: hh;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    color: rgba(0,0,0,0);
} 
@keyframes hh{
  0%   {left:0px; top:0px; color: rgba(0,0,0,0)}
  100%  {left:0px; top:0px; color: #555555;}
}

#menu #hg{
    animation-name: hg;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    color: rgba(0,0,0,0);
}
@keyframes hg{
  0%   {left:0px; top:0px; color: rgba(0,0,0,0)}
  100%  {left:0px; top:0px; color: #555555}
}

#menu #hs{
    animation-name: hs;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: rgba(0,0,0,0);
}
@keyframes hs{
  0%   {left:0px; top:0px; color: rgba(0,0,0,0)}
  100%  {left:0px; top:0px; color: #555555}
}
/*--------------------------------          animation          --------------------------------*/

